@{
    ViewBag.Title = "About";
}

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    <i class="fas fa-user fa-1x"></i> Mahmoud Fathy Sayed Mohamed
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                Back-End Developer, Currently studying in Faculty of Engineering Ain Shams
                <br>
                <blockquote>"I don't care if it works on your machine, we aren't shipping your machine!"</blockquote>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    <i class="fas fa-user fa-1x"></i> Omar Magdy Shaaban AbdelWahab
                </a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                Back-End Developer, Currently studying in Faculty of Engineering Ain Shams
                <br/>
                <blockquote>"Good experience, learned much better about developing the back-end of a small-sized project"</blockquote>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    <i class="fas fa-user fa-1x"></i> Basil Essam Abd Elfattah AbdelAal
                </a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                Integration Tester, Currently studying in Faculty of Engineering Ain Shams
                <br><blockquote>"All code is guilty until proven innocent"</blockquote>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    <i class="fas fa-user fa-1x"></i> Mostafa Ahmed Mohamed Abd Elghany Elkady
                </a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
                Front-End Developer, Currently studying in Faculty of Engineering Ain Shams
                <br><blockquote>"A user interface is like a joke. If you have to explain it, it's not that good."</blockquote>
            </div>
        </div>
    </div>
</div>